/* General Reset */
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Smooth Gradient Background */
body {
    background: var(--background-color);

    background-size: 200% 200%;
    animation: gradientMove 12s infinite alternate;
}

header {
    margin-top: 0px;
    background-color: var(--secondary-color);
    color: var(--text-color2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
}

/* 📱 Responsive Adjustments */
@media (max-width: 900px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


