/* 🎨 Color Palette */
:root {
    --background-color: #121212; /* Almost Black */

    --primary-color: #2D9CDB; /* Soft Cyan */
    --secondary-color: #444444; /* Darker Gray */
    --accent-color: #2D9CDB; /* Orange Pop */

    --text-color: #EAEAEA; /* White */
    --text-color2: #aaaaaa; /* Light Gray */

    --pill-color: rgba(255, 255, 255, 0.1); /* Subtle White Transparency */
    --project-color: #1e1e1e; /* Dark Gray */
    

}


/* 🌐 Font Settings */
body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}
